<div id="registration">
  <div class="main text-center">
    <h2>あなたのための<br>英語学習アプリ</h2>
    <div class="container">
      <%= link_to "googleで登録",user_google_oauth2_omniauth_authorize_path, class: 'signup-btn google-signup-btn' %>
      <%= link_to "すぐに始める",select_path, class: 'signup-btn' %>
      <div class="login-tab">
        <p>会員の方 <%= link_to 'ログイン', user_google_oauth2_omniauth_authorize_path %></p>
      </div>
    </div>
  </div>
  <!-- 非表示 -->
  <% if false %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <%= link_to "google",user_google_oauth2_omniauth_authorize_path,class:"color-white" %><br />
  <%= link_to "Log in", new_session_path(resource_name) ,class:"color-white"%><br />
  <% end %>
  <% end %>
</div>
<!--
        <div class="col-lg-6" style="color:white; margin-top:30px;">
          <p>E-tanアプリを使用する際には登録が必要になります。<br>必要事項を記入して登録を行ってください。</p>
          <p>Please fill in the necessary information and register ,<br>if playing this E-tan app. </p>
        </div>
        -->

<script>
  $('nav').removeClass('fixed-top');
  $('nav').addClass("bg-dark");
</script>
