# <style>
# 	.mt-6 {
# 		padding-top: 100px;
# 	}
# </style>
# <div class="container-fluid mt-6">
# 	<div class="row">
# 		<div class="col-xs-6">
# 				<table id="table" class="table table-striped", border="2">
# 					<thead>
# 						<tr>
# 							<th class="th_first">英語</th>
# 							<th class="th_second">日本語</th>
# 							<th class="th_first">英語</th>
# 							<th class="th_second">日本語</th>
# 						</tr>
# 					</thead>
# 					<tbody>
# 						<% @word_sets.each do |word| %>
# 							<tr>
# 							    <td class="td_first"><%= word.word_first %></td>
# 								<td class="td_second"><%= word.word_second %></td>
# 								<td class="td_first"><%= word.word_third %></td>
# 								<td class="td_second"><%= word.word_forth %></td>
# 							</tr>
# 						<% end %>
# 					</tbody>
# 					</tbody>
# 				</table>
# 				<%= paginate @word_sets %>
# 		</div>

# 		<%= form_with url: kakutan_pdfs_index_path(format: "pdf"), local: true do |f| %>
# 		    <% @without_page.each do |word| %>
# 				<%= f.hidden_field "word_set[words][][english_first]", :value => word.word_first %>
# 				<%= f.hidden_field "word_set[words][][japanese_first]", :value => word.word_second %>
# 				<%= f.hidden_field "word_set[words][][english_second]", :value => word.word_third %>
# 				<%= f.hidden_field "word_set[words][][japanese_second]", :value => word.word_forth %>
# 			<% end %>
# 			<%= f.select :select_num, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
# 			<%= f.submit 'PDFを表示', class: "btn btn-info" %>
# 		<% end %>

# 	</div>
# 	<button id="change" type="button" class="btn btn-success">和英変換</button>
# 	<button id="shuffle" type="button" class="btn btn-danger">シャッフル</button>
# </div>
# <script>
# {
# 	const change = document.getElementById("change")
# 	const th_first = document.getElementsByClassName('th_first');
# 	const th_second = document.getElementsByClassName('th_second');
# 	const td_first = document.getElementsByClassName('td_first');
# 	const td_second = document.getElementsByClassName('td_second');

# 	change.addEventListener("click", function () {
# 	  let tmp_th;
# 	  let tmp_td;

# 	  for (let i = 0; i < th_first.length; i++) {
# 	  	tmp_th = th_first[i].textContent;
# 	    th_first[i].textContent = th_second[i].textContent;
# 	    th_second[i].textContent = tmp_th;
# 	  }

# 	  for (let i = 0; i < td_first.length; i++) {
# 	    tmp_td = td_first[i].textContent
# 	    td_first[i].textContent = td_second[i].textContent;
# 	    td_second[i].textContent = tmp_td;
# 	  }
#     })

#     const select = document.getElementById('select_num');

# 	select.onchange = function(page_num){
# 	  page_num = this.value
# 	  $.ajax({
# 	      type: 'POST',
# 	      url: '/kakutan',
# 	      data: {
#                     select_num: page_num
#                 },
# 	  });
# 	  return page_num
# 	}

# 	var data = gon.word_set
# 	const shuffle = document.getElementById('shuffle')

#     shuffle.addEventListener('click', function () {
# 		$.ajax({
# 			type: 'POST',
# 			url: 'word/json',
# 			dataType: 'json',
# 			contentType: 'application/json',
# 			data: JSON.stringify(data)
# 		});
# 	});


# }
# </script>