<div class="row">
	<div class="col-xs-2">
		gyomuitaku
	</div>
	<div class="col-xs-6">
		<% for i in 1..3 do %>
			<table id="table" class="table table-striped", border="2">
				<thead>
					<tr>
						<th class="th_first">英語</th>
						<th class="th_second">日本語</th>
						<th class="th_first">英語</th>
						<th class="th_second">日本語</th>
					</tr>
				</thead>
				<tbody>
				  <% for j in @num_min_table..@num_max_table do %>
					<tr>
						<td class="td_first"><%= @word_set[j][0] %></td>
						<td class="td_second"><%= @word_set[j][1] %></td>
						<td class="td_first"><%= @word_set[j+25][0] %></td>
						<td class="td_second"><%= @word_set[j+25][1] %></td>
					</tr>
				  <% end %>
				</tbody>
			</table>
			<% @num_min_table += 50 %>
			<% @num_max_table += 50 %>
		<% end %>
	</div>

	<%= form_with url: kakutan_pdfs_index_path(format: "pdf"), local: true do |f| %>
	    <% for i in 1..3 do %>
		    <% for j in @num_min_pdf..@num_max_pdf do %>
				<%= f.hidden_field "word_set[words][][english_first]", :value => @word_set[j][0] %>
				<%= f.hidden_field "word_set[words][][japanese_first]", :value => @word_set[j][1] %>
				<%= f.hidden_field "word_set[words][][english_second]", :value => @word_set[j+25][0] %>
				<%= f.hidden_field "word_set[words][][japanese_second]", :value => @word_set[j+25][1] %>
			<% end %>
			<% @num_min_pdf += 50 %>
			<% @num_max_pdf += 50 %>
		<% end %>
		<%= f.select :page, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
		<%= f.submit 'PDFを表示', class: "btn btn-info" %>
	<% end %>
</div>
<button id="change" type="button" class="btn btn-success">和英変換</button>
<script>
{
	const change = document.getElementById("change")
	const th_first = document.getElementsByClassName('th_first');
	const th_second = document.getElementsByClassName('th_second');
	const td_first = document.getElementsByClassName('td_first');
	const td_second = document.getElementsByClassName('td_second');

	change.addEventListener("click", function () {
	  let tmp_th;
	  let tmp_td;

	  for (let i = 0; i < th_first.length; i++) {
	  	tmp_th = th_first[i].textContent;
	    th_first[i].textContent = th_second[i].textContent;
	    th_second[i].textContent = tmp_th;
	  }

	  for (let i = 0; i < td_first.length; i++) {
	    tmp_td = td_first[i].textContent
	    td_first[i].textContent = td_second[i].textContent;
	    td_second[i].textContent = tmp_td;
	  }
    })
}
</script>