<style>
  h2 {
    width: 100%;
  }

  body {
    background: #d2e6ff99;
    font-family: 'Open Sans', sans-serif;
  }

  .select-nav-color {
    background-color: #2b2b2b;
  }

  .mt-6 {
    padding-top: 20px;
  }

  .k {
    width: 100%;
    margin-bottom: 50px;
  }

  .custom-select-trigger {
    padding: 0 40px 0 22px;
    font-size: 17px;
    line-height: 43px;
  }

  .nav-link {
    color: white;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show>.nav-link {
    background-color: #2b2b2b;
  }

  .table_sticky {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
  }

  .table_sticky thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    border-top: #FFFFFF;
  }

  .overflow {
    width: 100%;
    overflow-y: scroll;
    height: calc(70vh);
  }

  .row {
    height: auto;
  }

  footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #5a5a5ad6;
  }

  .select-mx {
    padding-right: 10%;
    padding-left: 10%;
  }

  .select-bg-color {
    background-color: rgb(202 202 202 / 56%);
  }

  @media (max-width: 380px) {
    .tab {
      font-size: 12px;
    }
  }

  @media (max-width: 330px) {
    .tab {
      font-size: 10px;
    }
  }
</style>
<!-- Blockquotes -->
<div class="select-bg-img">
  <div class="container-fluid pt-5">
    <div class="tab-content select-bg-color select-mx" id="blockquotes-tabContent">
      <h1 class="my-5">Selection page</h1>
      <div class="tab-pane fade show active" id="blockquotes-left-1" role="tabpanel" aria-labelledby="blockquotes-left-tab-1">
        <div id="wrap1">
          <div id="tab1-1" class="tab selected">4択クイズ</div>
          <div id="tab1-2" class="tab">タイピング</div>
          <div id="tab1-3" class="tab">pdf印刷</div>
          <div id="tab1-4" class="tab">辞書</div>
          <div class="slide-container">
            <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
            <div id="slide1" class="">
              <div id="first1" class="box">
                <h2 class="my-5">確認問題</h2>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", quiz_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0",select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                  <h2 class="my-5">まとめ問題</h2>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          500問
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", quiz_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1",select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          進級テスト
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "レベル#{j+1}", quiz_path(params: {select_num: (j*500 + 2).to_s, quiz_type: "1", select_file: "0", test: "1", level: "#{j+1}"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="second1" class="box">
                <h2 class="my-5">確認問題</h2>
                <div class="row mt-4">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", type_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = [500, 1000, 2000] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", type_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", type_path(params: {select_num: (j*1000 + 2).to_s,quiz_type: "2", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", type_path(params: {select_num: "2",quiz_type: "3", select_file: "0"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="third1" class="box">
                <h2 class="my-5">確認問題</h2>
                <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", kakutan_path(params: {select_num: (i*500 + j*100 + 2).to_s, word_range: "100", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = ["500", "1000", "2000"] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", kakutan_path(params: {select_num: (j*500 + 2).to_s,word_range: "500", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", kakutan_path(params: {select_num: (j*1000 + 2).to_s,word_range: "1000", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", kakutan_path(params: {select_num: "2",word_range: "2000", select_file: "0"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="four1" class="box">
                <div class="mt-5"><%= link_to  "TOEICの辞書ページへ", toeic_path, class: "btn btn-outline-dark" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="blockquotes-center-1" role="tabpanel" aria-labelledby="blockquotes-center-tab-1">
        <!-- Centered -->
        <div id="wrap2">
          <div id="tab2-1" class="tab selected">4択クイズ</div>
          <div id="tab2-2" class="tab">タイピング</div>
          <div id="tab2-3" class="tab">pdf印刷</div>
          <div id="tab2-4" class="tab">辞書</div>

          <div class="slide-container">
            <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
            <div id="slide2" class="text-center">
              <div id="first2" class="box2">
                <h2 class="my-5 text-center">確認問題</h2>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", quiz_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0",select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                  <h2 class="my-5 text-center">まとめ問題</h2>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          500問
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", quiz_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1",select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          進級テスト
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "レベル#{j+1}", quiz_path(params: {select_num: (j*500 + 2).to_s, quiz_type: "1", select_file: "1", test: "1", level: "#{j+1}"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="second2" class="box">
                <h2 class="mb-5">確認問題</h2>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", type_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = [500, 1000, 2000] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", type_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", type_path(params: {select_num: (j*1000 + 2).to_s,quiz_type: "2", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", type_path(params: {select_num: "2",quiz_type: "3", select_file: "1"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="third2" class="box">
                <h2 class="mb-5">確認問題</h2>
                <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", kakutan_path(params: {select_num: (i*500 + j*100 + 2).to_s, word_range: "100", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = ["500", "1000", "2000"] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", kakutan_path(params: {select_num: (j*500 + 2).to_s,word_range: "500", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", kakutan_path(params: {select_num: (j*1000 + 2).to_s,word_range: "1000", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", kakutan_path(params: {select_num: "2",word_range: "2000", select_file: "1"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="four2" class="box">
                <div class="mt-5"><%= link_to  "論文の辞書ページへ", paper_path, class: "btn btn-outline-dark" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="blockquotes-right-1" role="tabpanel" aria-labelledby="blockquotes-right-tab-1">
        <div id="wrap3">
          <div id="tab3-1" class="tab selected">4択クイズ</div>
          <div id="tab3-2" class="tab">タイピング</div>
          <div id="tab3-3" class="tab">pdf印刷</div>
          <div id="tab3-4" class="tab">辞書</div>
          <div class="slide-container">
            <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
            <div id="slide3" class="">
              <div id="first3" class="box3">
                <h2 class="my-5 text-center">確認問題</h2>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", quiz_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0",select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                  <h2 class="my-5 text-center">まとめ問題</h2>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          500問
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", quiz_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1",select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          進級テスト
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "レベル#{j+1}", quiz_path(params: {select_num: (j*500 + 2).to_s, quiz_type: "1", select_file: "1", test: "2", level: "#{j+1}"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="second3" class="box">
                <h2 class="mb-5">確認問題</h2>
                <div class="row mt-4">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", type_path(params: {select_num: (i*500 + j*100 + 2).to_s,quiz_type: "0", select_file: "0"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = [500, 1000, 2000] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", type_path(params: {select_num: (j*500 + 2).to_s,quiz_type: "1", select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", type_path(params: {select_num: (j*1000 + 2).to_s,quiz_type: "2", select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", type_path(params: {select_num: "2",quiz_type: "3", select_file: "2"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="third3" class="box">
                <h2 class="mb-5">確認問題</h2>
                <% importances = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
                <div class="row">
                  <% (0..3).each do |i| %>
                  <div class="col-lg-3 col-sm-6">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importances[i] %>
                        </summary>
                        <div class="option">
                          <% (0..4).each do |j| %>
                          <%= link_to "#{i*500 + j*100 + 1}~#{i*500 + j*100 + 100}", kakutan_path(params: {select_num: (i*500 + j*100 + 2).to_s, word_range: "100", select_file: "1"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <% end %>
                </div>
                <h2 class="my-5">まとめ問題</h2>
                <div class="row">
                  <% importance = ["500", "1000", "2000"] %>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[0] %>
                        </summary>
                        <div class="option">
                          <% (0..3).each do |j| %>
                          <%= link_to "#{j*500 + 1}~#{j*500 + 500}", kakutan_path(params: {select_num: (j*500 + 2).to_s,word_range: "500", select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[1] %>
                        </summary>
                        <div class="option">
                          <% (0..1).each do |j| %>
                          <%= link_to "#{j*1000 + 1}~#{j*1000 + 100}", kakutan_path(params: {select_num: (j*1000 + 2).to_s,word_range: "1000", select_file: "2"}), class: "d-block" %>
                          <% end %>
                        </div>
                      </details>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="text-center mb-1">
                      <details>
                        <summary>
                          <%= importance[2] %>
                        </summary>
                        <div class="option">
                          <%= link_to "1~2000", kakutan_path(params: {select_num: "2",word_range: "2000", select_file: "2"}), class: "d-block" %>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
              <div id="four3" class="box">
                <div class="mt-5"><%= link_to  "小説の辞書ページへ", novel_path, class: "btn btn-outline-dark" %></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Centered -->
      </div>
    </div>
  </div>
</div>

<!-- End Right Bordered -->
<!-- End Blockquotes -->
<footer class="fixed-bottom">
  <div class="container-fluid">
    <ul class="nav nav-pills mx-auto justify-content-between" id="blockquotes-tab" role="tablist" style="width: 80%;">
      <li class="nav-item">
        <a class="nav-link active" id="blockquotes-left-tab-1" data-toggle="pill" href="#blockquotes-left-1" role="tab" aria-controls="blockquotes-left-1" aria-selected="true">
          TOEIC
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="blockquotes-center-tab-1" data-toggle="pill" href="#blockquotes-center-1" role="tab" aria-controls="blockquotes-center-1" aria-selected="false">
          論文
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="blockquotes-right-tab-1" data-toggle="pill" href="#blockquotes-right-1" role="tab" aria-controls="blockquotes-right-1" aria-selected="false">
          小説
        </a>
      </li>
    </ul>
  </div>
</footer>

<script>
  $('nav').removeClass('fixed-top');
  $('nav').addClass('select-nav-color');
  // $(".custom-select").each(function() {
  //   var classes = $(this).attr("class"),
  //     id = $(this).attr("id"),
  //     name = $(this).attr("name");
  //   var template = '<div class="' + classes + '">';
  //   template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
  //   template += '<div class="custom-options">';
  //   $(this).find("option").each(function() {
  //     template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
  //   });
  //   template += '</div></div>';

  //   $(this).wrap('<div class="custom-select-wrapper"></div>');
  //   $(this).hide();
  //   $(this).after(template);
  // });
  // $(".custom-option:first-of-type").hover(function() {
  //   $(this).parents(".custom-options").addClass("option-hover");
  // }, function() {
  //   $(this).parents(".custom-options").removeClass("option-hover");
  // });
  // $(".custom-select-trigger").on("click", function() {
  //   $('html').one('click', function() {
  //     $(".custom-select").removeClass("opened");
  //   });
  //   $(this).parents(".custom-select").toggleClass("opened");
  //   event.stopPropagation();
  // });
  // $(".custom-option").on("click", function() {
  //   const selected = this.dataset;
  //   window.location.href = selected.value;
  //   $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
  //   $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
  //   $(this).addClass("selection");
  //   $(this).parents(".custom-select").removeClass("opened");
  //   $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
  // });


  for (let i = 1; i <= 3; i++) {
    document.getElementById('tab' + i + '-' + '1').addEventListener("click", {
      handleEvent: moveToFirst,
      name: i
    });
    document.getElementById('tab' + i + '-' + '2').addEventListener("click", {
      handleEvent: moveToSecond,
      name: i
    });
    document.getElementById('tab' + i + '-' + '3').addEventListener("click", {
      handleEvent: moveToThird,
      name: i
    });
    document.getElementById('tab' + i + '-' + '4').addEventListener("click", {
      handleEvent: moveToFour,
      name: i
    });
  }

  function moveToFirst() {
    $("#slide" + this.name).attr('class', 'move-to-first' + this.name);
    $(".tab").attr('class', 'tab');
    $("#tab" + this.name + "-1").attr('class', "tab selected");
  }

  function moveToSecond() {
    $("#slide" + this.name).attr('class', 'move-to-second' + this.name);
    $(".tab").attr('class', 'tab');
    $("#tab" + this.name + "-2").attr('class', 'selected tab');
  }

  function moveToThird() {
    $("#slide" + this.name).attr('class', 'move-to-third' + this.name);
    $(".tab").attr('class', 'tab');
    $("#tab" + this.name + "-3").attr('class', 'selected tab');
  }

  function moveToFour() {
    $("#slide" + this.name).attr('class', 'move-to-four' + this.name);
    $(".tab").attr('class', 'tab');
    $("#tab" + this.name + "-4").attr('class', 'selected tab');
  }
</script>
