<style>
  body {
  background: #ededed;
  font-family: 'Open Sans', sans-serif;
  }
  .mt-6 {
    margin-top: 100px;
  }
</style>
<div class="container-fluid mt-6">
  <div class="text-center">
    <h1>TEIC</h1>
  </div>
  <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
  <div class="row">
    <% (0..3).each do |i| %>
      <div class="col-3">
        <div class="text-center mb-5">
            <select name="sources" class="custom-select sources" placeholder=<%= importance[i] %>>
              <% (0..4).each do |j| %>
                <option value="quiz?select_num=<%= (i*500 + j*100 + 2).to_s %>&quiz_type=0&select_file=0"><%= i*500 + j*100 + 1 %> ~ <%= i*500 + j*100 + 100 %></option>
              <%end%>
            </select>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center my-5">
    <h1>確認問題</h1>
  </div>
  <div class="row">
    <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
    <div class="col-3">
      <div class="text-center mb-5">
        <select name="sources" class="custom-select sources" placeholder=<%= importance[0] %>>
          <% (0..3).each do |j| %>
            <option value="quiz?select_num=<%= (j*500 + 2).to_s %>&quiz_type=1&select_file=0"><%= j*500 + 1 %> ~ <%= j*500 + 500 %></option>
          <%end%>
        </select>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <h1>論文</h1>
  </div>
  <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
  <div class="row">
    <% (0..3).each do |i| %>
      <div class="col-3">
        <div class="text-center mb-5">
            <select name="sources" class="custom-select sources" placeholder=<%= importance[i] %>>
              <% (0..4).each do |j| %>
                <option value="quiz?select_num=<%= (i*500 + j*100 + 2).to_s %>&quiz_type=0&select_file=1"><%= i*500 + j*100 + 1 %> ~ <%= i*500 + j*100 + 100 %></option>
              <%end%>
            </select>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center my-5">
    <h1>確認問題</h1>
  </div>
  <div class="row">
    <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
    <div class="col-3">
      <div class="text-center mb-5">
        <select name="sources" class="custom-select sources" placeholder=<%= importance[0] %>>
          <% (0..3).each do |j| %>
            <option value="quiz?select_num=<%= (j*500 + 2).to_s %>&quiz_type=1&select_file=1"><%= j*500 + 1 %> ~ <%= j*500 + 500 %></option>
          <%end%>
        </select>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <h1>小説</h1>
  </div>
  <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
  <div class="row">
    <% (0..3).each do |i| %>
      <div class="col-3">
        <div class="text-center mb-5">
            <select name="sources" class="custom-select sources" placeholder=<%= importance[i] %>>
              <% (0..4).each do |j| %>
                <option value="quiz?select_num=<%= (i*500 + j*100 + 2).to_s %>&quiz_type=0&select_file=2"><%= i*500 + j*100 + 1 %> ~ <%= i*500 + j*100 + 100 %></option>
              <%end%>
            </select>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center my-5">
    <h1>確認問題</h1>
  </div>
  <div class="row">
    <% importance = ["最重要単語", "重要単語", "応用レベル", "発展レベル"] %>
    <div class="col-3">
      <div class="text-center mb-5">
        <select name="sources" class="custom-select sources" placeholder=<%= importance[0] %>>
          <% (0..3).each do |j| %>
            <option value="quiz?select_num=<%= (j*500 + 2).to_s %>&quiz_type=1&select_file=2"><%= j*500 + 1 %> ~ <%= j*500 + 500 %></option>
          <%end%>
        </select>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt-5">
  <div class="row text-center">
    <div class="col-3">
      <%= link_to "1 ~ 500", quiz_path(params: {select_num: 2}), class: "btn btn-info btn-sm " %>
    </div>
    <div class="col-3">
      <%= link_to "500 ~ 1000", quiz_path(params: {select_num: 502}), class: "btn btn-info btm-sm" %>
    </div>
    <div class="col-3">
      <%= link_to "1000 ~ 1500", quiz_path(params: {select_num: 1002}), class: "btn btn-info btm-sm" %>
    </div>
    <div class="col-3">
      <%= link_to "1500 ~ 2000", quiz_path(params: {select_num: 1502}), class: "btn btn-info btn-sm" %>
    </div>
  </div>
</div>-->

<script>

  $(".custom-select").each(function() {
  var classes = $(this).attr("class"),
      id      = $(this).attr("id"),
      name    = $(this).attr("name");
  var template =  '<div class="' + classes + '">';
      template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
      template += '<div class="custom-options">';
      $(this).find("option").each(function() {
        template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
      });
  template += '</div></div>';

  $(this).wrap('<div class="custom-select-wrapper"></div>');
  $(this).hide();
  $(this).after(template);
  });
  $(".custom-option:first-of-type").hover(function() {
    $(this).parents(".custom-options").addClass("option-hover");
  }, function() {
    $(this).parents(".custom-options").removeClass("option-hover");
  });
  $(".custom-select-trigger").on("click", function() {
    $('html').one('click',function() {
      $(".custom-select").removeClass("opened");
    });
    $(this).parents(".custom-select").toggleClass("opened");
    event.stopPropagation();
  });
  $(".custom-option").on("click", function() {
    const selected = this.dataset;
    window.location.href = selected.value;
    $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
    $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
    $(this).addClass("selection");
    $(this).parents(".custom-select").removeClass("opened");
    $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
  });
</script>
