<!DOCTYPE html>
<html>

<head>
  <title>Kawaqiita</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Web Fonts -->
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,700%7COpen+Sans:300,400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= include_gon %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Demo Custome Code (demo page only) -->
  <style type="text/css">
    /* Button Spaces*/
    .demo-btn-space .btn,
    .demo-progress-space .progress {
      margin-bottom: 10px;
    }

    /* About Section */
    .demo-about-section {
      position: relative;
      padding-top: 6.25rem;
    }

    @media (min-width: 991px) {
      .demo-about-section {
        margin-top: -50px;
        padding-top: 0;
      }
    }

    /* Download Section */
    .demo-download-section {
      position: relative;
      z-index: 1;
      margin: -60px 0;
    }

    /* Google Fonts */
    .demo-fonts-box {
      padding: 30px;
      line-height: 2;
      letter-spacing: 2px;
    }

    .demo-fonts-box__item {
      line-height: 1;
    }

    .demo-fonts-box__item-xs {
      line-height: 1;
      font-size: 30px;
    }

    .demo-fonts-box__item-xl {
      line-height: 1;
      font-size: 90px;
    }

    .nav-link {
      color: rgba(255, 255, 255, 0.9) !important;
    }

    .nav-link:hover {
      color: rgba(255, 255, 255, 1) !important;
    }
  </style>
</head>


<body>
  <header role="header">
    <!-- Navbar -->
    <nav class="js-navbar-scroll navbar navbar-expand-lg navbar-transparent navbar-dark fixed-top">
      <div class="container-fluid">
        <%= link_to root_path , class: " navbar-brand" do %>
        <h1>E-tan</h1>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to root_path, class: "nav-link" do %>
              <i class="fas fa-cubes u-font-size-90 mr-1"></i> Home
              <% end %>
            </li>
            <% if user_signed_in? %>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to user_path(current_user), class: "nav-link" do %>
              <i class="fas fa-cube u-font-size-90 mr-1"></i> My Page
              <% end %>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "Logout" , destroy_user_session_path, method: :delete,  class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to select_path, class: "nav-link" do %>
              <i class="fas fa-cube u-font-size-90 mr-1"></i> select
              <% end %>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "Sign up" , new_user_registration_path,  class: "nav-link" %>
            </li>
            <li class="nav-item mr-4 mb-2 mb-lg-0">
              <%= link_to "Login" , new_user_session_path,  class: "nav-link" %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
  </header>
  <!-- End Header -->
  <%= yield %>
</body>

</html>
